@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-brand-25: #f2f5f8;
  --color-brand-50: #e8edf2;
  --color-brand-100: #cedbe6;
  --color-brand-200: #a2bcce;
  --color-brand-300: #6d93b0;
  --color-brand-400: #457091;
  --color-brand-500: #1a3a5c;
  --color-brand-600: #163250;
  --color-brand-700: #122942;
  --color-brand-800: #0f2135;
  --color-brand-900: #0c1a29;
  --color-brand-950: #07101a;
}

@theme inline {
   --font-*: initial;
  --font-outfit: Outfit, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-title-2xl: 72px;
  --text-title-2xl--line-height: 90px;
  --text-title-xl: 60px;
  --text-title-xl--line-height: 72px;
  --text-title-lg: 48px;
  --text-title-lg--line-height: 60px;
  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-theme-xl: 20px;
  --text-theme-xl--line-height: 30px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #101828;

  --color-brand-25: #f2f5f8;
  --color-brand-50: #e8edf2;
  --color-brand-100: #cedbe6;
  --color-brand-200: #a2bcce;
  --color-brand-300: #6d93b0;
  --color-brand-400: #457091;
  --color-brand-500: #1a3a5c;
  --color-brand-600: #163250;
  --color-brand-700: #122942;
  --color-brand-800: #0f2135;
  --color-brand-900: #0c1a29;
  --color-brand-950: #07101a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
